.sol-table {
  display: flex;
  flex-direction: column;
  width: 1184px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;

  .header-row {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: rgba(242, 244, 248, 1);
    font-weight: 600;
    border-bottom: 1px solid rgba(221, 221, 221, 1);

    .cell {
      padding: 6px 10px;
      display: flex;
      align-items: center;

      &.actions { width: 66px; }
      &.ticket { width: 90px; }
      &.date { width: 100px; }
      &.client { width: 150px; }
      &.object { width: 356px; }
      &.type { width: 170px; }
      &.deadline { width: 100px; }
      &.status { width: 140px; }
    }
  }
}
