<div class="top-bar">
  <div class="left">
    <button class="icon-button">
      <img src="../../assets/home-solicitings.svg" alt="Accueil" class="icon" />
      <span class="label">{{ homeLabel }}</span>
    </button>

    <button class="icon-button">
      <img src="../../assets/add-solicitings.svg" alt="Sollicitation" class="icon" />
      <span class="label">{{ solicitingLabel }}</span>
    </button>
  </div>

  <div class="right">
    <button class="menu-button">
      <img src="../../assets/menu-solicitings.svg" alt="Menu" class="icon" />
    </button>
  </div>
</div>
 