.dashboard-summary {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-separator {
  height: 70px;
  border: 1px solid var(--Border, rgba(221, 221, 221, 1));
  background-color: transparent;
}
