<div class="row">
  <div class="cell actions">
    <span>📎</span>
    <span>📍</span>
    <span>⋯</span>
  </div>
  <div class="cell ticket">{{ solicitation.ticket }}</div>
  <div class="cell date">
    <div class="text-1">{{ solicitation.date.split(' à ')[0] }}</div>
    <div class="text-2">{{ solicitation.date.split(' à ')[1] }}</div>
  </div>
  <div class="cell client">
    <div class="name">{{ solicitation.clientName }}</div>
    <div class="id">{{ solicitation.clientId }}</div>
  </div>
  <div class="cell object">{{ solicitation.object }}</div>
  <div class="cell type">{{ solicitation.type }}</div>
  <div class="cell deadline">
    <span class="tag">{{ solicitation.deadlineLabel }}</span>
  </div>
  <div class="cell status">
    <span class="tag status-tag">{{ solicitation.statusLabel }}</span>
  </div>
</div>
